 <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Слушай!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
            <li class="active"><a href="/playlists">Моя музыка</a></li>
        {{else}}
             <li><a href="/playlists">Моя музыка</a></li>
        {{/if}}
        
        {{#if isAdd}}
            <li class="active"><a href="/add">Добавление</a></li>
        {{else}}
            <li><a href="/add">Добавление</a></li>
        {{/if}}

        {{#if isAccount}}
            <li class="active"><a href="/account">Мой аккаунт</a>
        {{else}}
            <li><a href="/account">Мой аккаунт</a>
        {{/if}}

        {{#if isLogin}}
            <li class="active"><a href="/auth/login">Войти</a>
        {{else}}
            <li><a href="/auth/login">Войти</a>
        {{/if}}        
      </ul> 
    </div>
  </nav>